.content {
	// padding-top: var(--status-bar-height);//有时不生效
	// margin-top: var(--status-bar-height);//防止头部跑入手机状态栏，取消沉浸式状态栏后可以不使用（失效）
}
//头部
.top-bar {
	z-index: 1000;
	width: 100%;
	height: 88rpx;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $uni-bg-color;
	// padding-top: var(--status-bar-height);
	// margin-top: var(--status-bar-height);
}


